.App {
  /* text-align: center; */
  
}
.maincontent {
  text-align: center;
  /* margin-left: 45px;
  margin-right: 45px; */
  display: inline-block;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pf1{
 /* margin: auto;
  padding: 20px;
  width: 39%;
  text-align: left;*/
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

text-align: center;

  
    padding: 10%;
    margin-right: 15%;
    margin-left: 15%;
}/*
.pf2 h1{
  display: -webkit-box;
}*/
.h1, h1 {
  display: -webkit-box;
  font-size: 2.5rem;
}
.pf2{
  text-align: initial;
}
.bt1{
  padding-top: 5px;
  background-color: #ff1e56;
  border-radius: 5px;
  text-align: center;
 /* position: relative;
  right: 200px;*/
  display: list-item;
  color: white;
  margin: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.events1{
  text-align: center;


    padding: 3px;
    margin-left: 71px;
}

.enthiran{
  width: 80%;
  margin-left: 25%;
  margin-right: 25%;
}
.row {
  text-align: left;
  padding: 20px;
  margin-left: 20px;
  padding-top: 4;
}

.sec3col1{
  text-align: center;
  padding-top: 30px;
  
  margin-top: 12px;
}

.sec3col2{
  margin-left: 45px;
  padding-top: 30px;
}

.sec2head1{
  text-decoration-line: underline;
  text-align: center;
  display: flex;
  /* position: absolute; */
  left: 22%;
  margin-left: 8%;

}
/*.hr1{
  width:"70%";
}*/


.sec2head2{
  text-decoration-line: underline;
  text-align: center;
  display: flex;
  /* position: absolute; */
  left: 22%;
  margin-left: 8%;
}


.labcol1{
  margin-left: 5%;
}

.p2img{
  height: 5.5rem;
  width: auto;
  
}
.addres1{
  padding-top: 7%;
}
.aboutcol{
  padding-left: 10%;
  padding-right: 10%;
    margin-right: 15%;
    margin-left: 15%;
}
.pf3{
  text-align: left;
  padding-bottom: 0%;
}
.pf4{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: 15%;
    margin-left: 15%;
}
.pf5{
  text-align: initial;
  width: max-content;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:#ff1e56 !important;
}
.hd{
  display: -webkit-box;
}
.line1{
  border: 1px solid red;
  width: 40%;
}
.card {
  --bs-card-border-width: 0 !important;
  --bs-card-inner-border-radius: 0 !important;
}
.navbar{
  --bs-navbar-padding-y: 1.5rem !important;
  font-size:large;
  justify-content: space-evenly !important;
  letter-spacing: .2rem;
}
.icon1{
  width: auto;
  height: 40px;
}

