.App {
  /* text-align: center; */
  
}
.maincontent {
  text-align: center;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pf1{
  margin: auto;
  padding: 20px;
  width: 39%;
  text-align: left;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.bt1{
  padding: 5px;
  background-color: #fe1816;
  border-radius: 5px;
  text-align: center;
  position: relative;
  right: 200px;
  color: white;
  margin: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.events1{
  text-align: center;


    padding: 3px;
    margin-left: 71px;
}

.enthiran{
  width: 80%;
  margin-left: 25%;
  margin-right: 25%;
}
.row {
  text-align: left;
  padding: 20px;
  margin-left: 20px;
}